tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style16
	{color:blue;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:Hipervínculo;
	mso-style-id:8;}
a:link
	{color:blue;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
a:visited
	{color:purple;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.font5
	{color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	mso-number-format:"\@";
	text-align:justify;
	vertical-align:justify;
	white-space:normal;}
.xl66
	{mso-style-parent:style0;
	font-weight:700;
	mso-number-format:"\@";
	text-align:justify;
	vertical-align:justify;
	white-space:normal;}
.xl67
	{mso-style-parent:style16;
	color:blue;
	text-decoration:underline;
	text-underline-style:single;
	mso-number-format:"\@";
	text-align:justify;
	vertical-align:justify;
	white-space:normal;}
.xl68
	{mso-style-parent:style16;
	color:windowtext;
	font-weight:700;
	mso-number-format:"\@";
	text-align:justify;
	vertical-align:justify;
	white-space:normal;}
.xl69
	{mso-style-parent:style0;
	color:windowtext;
	font-weight:700;
	mso-number-format:"\@";
	text-align:justify;
	vertical-align:justify;
	white-space:normal;}
.xl70
	{mso-style-parent:style0;
	color:black;
	font-size:9.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\@";
	text-align:justify;
	vertical-align:justify;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	mso-number-format:"\@";
	text-align:justify;
	vertical-align:top;
	white-space:normal;}
.xl72
	{mso-style-parent:style0;
	font-weight:700;
	mso-number-format:"\@";
	text-align:justify;
	vertical-align:top;
	white-space:normal;}
.xl73
	{mso-style-parent:style16;
	color:blue;
	font-weight:700;
	text-decoration:underline;
	text-underline-style:single;
	mso-number-format:"\@";
	text-align:justify;
	vertical-align:top;
	white-space:normal;}
.xl74
	{mso-style-parent:style0;
	mso-number-format:"\@";
	vertical-align:top;
	white-space:normal;}
.xl75
	{mso-style-parent:style0;
	font-weight:700;
	mso-number-format:"\@";
	vertical-align:top;
	white-space:normal;}
.xl76
	{mso-style-parent:style16;
	color:blue;
	font-weight:700;
	text-decoration:underline;
	text-underline-style:single;
	mso-number-format:"\@";
	vertical-align:top;
	white-space:normal;}
.xl77
	{mso-style-parent:style16;
	color:blue;
	font-weight:700;
	text-decoration:underline;
	text-underline-style:single;
	mso-number-format:"\@";
	text-align:justify;
	vertical-align:justify;
	white-space:normal;}
